################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PruebaTecnica.Application/bin/Debug/net6.0/PruebaTecnica.Application.dll
